<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTiposusuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTiposusuarioEmpty}" rendered="#{tiposusuarioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tiposusuarioController.items.rowCount > 0}">
                    <h:outputText value="#{tiposusuarioController.pagination.pageFirstItem + 1}..#{tiposusuarioController.pagination.pageLastItem + 1}/#{tiposusuarioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tiposusuarioController.previous}" value="#{bundle.Previous} #{tiposusuarioController.pagination.pageSize}" rendered="#{tiposusuarioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tiposusuarioController.next}" value="#{bundle.Next} #{tiposusuarioController.pagination.pageSize}" rendered="#{tiposusuarioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tiposusuarioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTiposusuarioTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTiposusuarioTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tiposusuarioController.prepareView}" value="#{bundle.ListTiposusuarioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tiposusuarioController.prepareEdit}" value="#{bundle.ListTiposusuarioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tiposusuarioController.destroy}" value="#{bundle.ListTiposusuarioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tiposusuarioController.prepareCreate}" value="#{bundle.ListTiposusuarioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTiposusuarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
