<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVehiculosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_id}" for="id" />
                    <h:inputText id="id" value="#{vehiculosController.selected.id}" title="#{bundle.CreateVehiculosTitle_id}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_fechaAdquisicion}" for="fechaAdquisicion" />
                    <h:inputText id="fechaAdquisicion" value="#{vehiculosController.selected.fechaAdquisicion}" title="#{bundle.CreateVehiculosTitle_fechaAdquisicion}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_fechaAdquisicion}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_taller}" for="taller" />
                    <h:inputText id="taller" value="#{vehiculosController.selected.taller}" title="#{bundle.CreateVehiculosTitle_taller}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_taller}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_modelo}" for="modelo" />
                    <h:inputText id="modelo" value="#{vehiculosController.selected.modelo}" title="#{bundle.CreateVehiculosTitle_modelo}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_modelo}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_placa}" for="placa" />
                    <h:inputText id="placa" value="#{vehiculosController.selected.placa}" title="#{bundle.CreateVehiculosTitle_placa}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_placa}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_marca}" for="marca" />
                    <h:inputText id="marca" value="#{vehiculosController.selected.marca}" title="#{bundle.CreateVehiculosTitle_marca}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_marca}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_kilometrosRecorridos}" for="kilometrosRecorridos" />
                    <h:inputText id="kilometrosRecorridos" value="#{vehiculosController.selected.kilometrosRecorridos}" title="#{bundle.CreateVehiculosTitle_kilometrosRecorridos}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_kilometrosRecorridos}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_fechaUltimoCambioAceite}" for="fechaUltimoCambioAceite" />
                    <h:inputText id="fechaUltimoCambioAceite" value="#{vehiculosController.selected.fechaUltimoCambioAceite}" title="#{bundle.CreateVehiculosTitle_fechaUltimoCambioAceite}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_fechaUltimoCambioAceite}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_fechaUltimoMantenimiento}" for="fechaUltimoMantenimiento" />
                    <h:inputText id="fechaUltimoMantenimiento" value="#{vehiculosController.selected.fechaUltimoMantenimiento}" title="#{bundle.CreateVehiculosTitle_fechaUltimoMantenimiento}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_fechaUltimoMantenimiento}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_observaciones}" for="observaciones" />
                    <h:inputText id="observaciones" value="#{vehiculosController.selected.observaciones}" title="#{bundle.CreateVehiculosTitle_observaciones}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_observaciones}"/>
                    <h:outputLabel value="#{bundle.CreateVehiculosLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{vehiculosController.selected.estado}" title="#{bundle.CreateVehiculosTitle_estado}" required="true" requiredMessage="#{bundle.CreateVehiculosRequiredMessage_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vehiculosController.create}" value="#{bundle.CreateVehiculosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{vehiculosController.prepareList}" value="#{bundle.CreateVehiculosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVehiculosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
