<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVehiculosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVehiculosLabel_id}"/>
                    <h:outputText value="#{vehiculosController.selected.id}" title="#{bundle.ViewVehiculosTitle_id}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_fechaAdquisicion}"/>
                    <h:outputText value="#{vehiculosController.selected.fechaAdquisicion}" title="#{bundle.ViewVehiculosTitle_fechaAdquisicion}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_taller}"/>
                    <h:outputText value="#{vehiculosController.selected.taller}" title="#{bundle.ViewVehiculosTitle_taller}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_modelo}"/>
                    <h:outputText value="#{vehiculosController.selected.modelo}" title="#{bundle.ViewVehiculosTitle_modelo}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_placa}"/>
                    <h:outputText value="#{vehiculosController.selected.placa}" title="#{bundle.ViewVehiculosTitle_placa}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_marca}"/>
                    <h:outputText value="#{vehiculosController.selected.marca}" title="#{bundle.ViewVehiculosTitle_marca}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_kilometrosRecorridos}"/>
                    <h:outputText value="#{vehiculosController.selected.kilometrosRecorridos}" title="#{bundle.ViewVehiculosTitle_kilometrosRecorridos}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_fechaUltimoCambioAceite}"/>
                    <h:outputText value="#{vehiculosController.selected.fechaUltimoCambioAceite}" title="#{bundle.ViewVehiculosTitle_fechaUltimoCambioAceite}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_fechaUltimoMantenimiento}"/>
                    <h:outputText value="#{vehiculosController.selected.fechaUltimoMantenimiento}" title="#{bundle.ViewVehiculosTitle_fechaUltimoMantenimiento}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_observaciones}"/>
                    <h:outputText value="#{vehiculosController.selected.observaciones}" title="#{bundle.ViewVehiculosTitle_observaciones}"/>
                    <h:outputText value="#{bundle.ViewVehiculosLabel_estado}"/>
                    <h:outputText value="#{vehiculosController.selected.estado}" title="#{bundle.ViewVehiculosTitle_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vehiculosController.destroyAndView}" value="#{bundle.ViewVehiculosDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVehiculosEditLink}"/>
                <br />
                <h:commandLink action="#{vehiculosController.prepareCreate}" value="#{bundle.ViewVehiculosCreateLink}" />
                <br />
                <h:commandLink action="#{vehiculosController.prepareList}" value="#{bundle.ViewVehiculosShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVehiculosIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
