<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUsuariosLabel_id}" for="id" style="display: none" />
                    <h:inputText class="form-control" id="id" value="0" title="#{bundle.CreateUsuariosTitle_id}" style="display: none" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateUsuariosLabel_nombre}" for="nombre" />
                    <h:inputText class="form-control" id="nombre" value="#{usuariosController.selected.nombre}" title="#{bundle.CreateUsuariosTitle_nombre}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateUsuariosLabel_pass}" for="pass" />
                    <h:inputText class="form-control" id="pass" value="#{usuariosController.selected.pass}" title="#{bundle.CreateUsuariosTitle_pass}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_pass}"/>
                    <h:outputLabel value="#{bundle.CreateUsuariosLabel_estado}" for="estado" style="display: none" />
                    <h:inputText class="form-control" id="estado" value="#{usuariosController.selected.estado}" style="display: none" title="#{bundle.CreateUsuariosTitle_estado}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_estado}"/>
                    <h:outputLabel value="#{bundle.CreateUsuariosLabel_idTipoUsuario}" for="idTipoUsuario" />
                    <h:selectOneMenu class="form-control" id="idTipoUsuario" value="#{usuariosController.selected.idTipoUsuario}" title="#{bundle.CreateUsuariosTitle_idTipoUsuario}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_idTipoUsuario}">
                        <f:selectItems class="form-control" value="#{tiposusuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink class="btn btn-info" action="#{usuariosController.create}" value="#{bundle.CreateUsuariosSaveLink}" />
                &nbsp;&nbsp;
                <h:commandLink class="btn btn-success" action="#{usuariosController.prepareList}" value="#{bundle.CreateUsuariosShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;
                <h:link class="btn btn-dark" outcome="/index" value="#{bundle.CreateUsuariosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
