<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Detalle Usuario"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsuariosLabel_id}" style="display: none"/>
                    <h:outputText value="#{usuariosController.selected.id}" title="#{bundle.ViewUsuariosTitle_id}" style="display: none"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_nombre}"/>
                    <h:outputText value="#{usuariosController.selected.nombre}" title="#{bundle.ViewUsuariosTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_pass}"/>
                    <h:outputText value="#{usuariosController.selected.pass}" title="#{bundle.ViewUsuariosTitle_pass}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_estado}" style="display: none"/>
                    <h:outputText value="#{usuariosController.selected.estado}" title="#{bundle.ViewUsuariosTitle_estado}" style="display: none"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_idTipoUsuario}"/>
                    <h:outputText value="#{usuariosController.selected.idTipoUsuario}" title="#{bundle.ViewUsuariosTitle_idTipoUsuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink class="btn btn-danger" action="#{usuariosController.destroyAndView}" value="#{bundle.ViewUsuariosDestroyLink}"/>
                &nbsp;&nbsp;
                <h:link class="btn btn-warning" outcome="Edit" value="#{bundle.ViewUsuariosEditLink}"/>
                &nbsp;&nbsp;
                <h:commandLink class="btn btn-info" action="#{usuariosController.prepareCreate}" value="#{bundle.ViewUsuariosCreateLink}" />
                &nbsp;&nbsp;
                <h:commandLink class="btn btn-success" action="#{usuariosController.prepareList}" value="#{bundle.ViewUsuariosShowAllLink}"/>
                &nbsp;&nbsp;
                <h:link class="btn btn-dark" outcome="/index" value="#{bundle.ViewUsuariosIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
