<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTalleresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTalleresLabel_id}" for="id" />
                    <h:inputText id="id" value="#{talleresController.selected.id}" title="#{bundle.EditTalleresTitle_id}" required="true" requiredMessage="#{bundle.EditTalleresRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditTalleresLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{talleresController.selected.nombre}" title="#{bundle.EditTalleresTitle_nombre}" required="true" requiredMessage="#{bundle.EditTalleresRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditTalleresLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{talleresController.selected.direccion}" title="#{bundle.EditTalleresTitle_direccion}" required="true" requiredMessage="#{bundle.EditTalleresRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.EditTalleresLabel_telefono}" for="telefono" />
                    <h:inputText id="telefono" value="#{talleresController.selected.telefono}" title="#{bundle.EditTalleresTitle_telefono}" required="true" requiredMessage="#{bundle.EditTalleresRequiredMessage_telefono}"/>
                    <h:outputLabel value="#{bundle.EditTalleresLabel_fallas}" for="fallas" />
                    <h:inputText id="fallas" value="#{talleresController.selected.fallas}" title="#{bundle.EditTalleresTitle_fallas}" required="true" requiredMessage="#{bundle.EditTalleresRequiredMessage_fallas}"/>
                    <h:outputLabel value="#{bundle.EditTalleresLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{talleresController.selected.estado}" title="#{bundle.EditTalleresTitle_estado}" required="true" requiredMessage="#{bundle.EditTalleresRequiredMessage_estado}"/>
                </h:panelGrid>
                <h:commandLink action="#{talleresController.update}" value="#{bundle.EditTalleresSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTalleresViewLink}"/>
                <br />
                <h:commandLink action="#{talleresController.prepareList}" value="#{bundle.EditTalleresShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTalleresIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
