<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet name="css/bootstrap.css"/>
    </h:head>
    <h:body>
        <div align="center"><br/>
        <h1>Bienvenido al sistema</h1>
        <br />
        <h:link class="btn btn-info" outcome="/views/mantenimientos/List" value="Gestionar Mantenimiento"/>
         &nbsp;&nbsp;
        <h:link class="btn btn-info" outcome="/views/usuarios/List" value="Gestionar Usuarios"/>
        
        </div>
    </h:body>





</html>

